<!doctype html>
<html>

<head>
    <!-- Metadados -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" media="screen">

    <!-- Título da página (aparece na aba) -->
    <title>Fale conosco</title>
</head>

<body>
<header class="cabecalho">
    <a th:href="@{/index}">
        <img class="cabecalho-imagem" th:src="@{/image/Design_sem_nome-removebg-preview.png}" alt="Logo DataEtichs">
    </a>
    <nav class="cabecalho-menu">
        <a class="cabecalho-menu-item" th:href="@{/quem-somos}">Equipe</a>
        <a class="cabecalho-menu-item" th:href="@{/code-java}">Code Java</a>
    </nav>
</header>

<div>
    <h1 id="titulo">Fale conosco</h1>
    <p id="subtitulo">Complete suas informações</p>
    <br>
</div>

<!-- Início do formulário -->
<form th:action="@{/feedback/add}" th:object="${feedback}" method="POST">

    <div class="background">
        <div class="principal">
            <header>
                <table>
                    <td>
                        <figure>
                            <img width="350" height="100" src="/image/logoDataethics.png">
                        </figure>
                    </td>
                    <td><p style=" font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
                        <h1>Formulário de Feedback </h1>
                        <h2>Nos diga o que você pensa!</h2></p></td>
                </table>
            </header>
            <div class="formulario">

                <input type="hidden" th:field="*{id}" id="id" name="id"><br><br>

                <label for="name">Nome:</label>
                <input type="text" th:field="*{nome}" id="name" name="name" required><br><br>

                <label for="email">E-mail:</label>
                <input type="email" th:field="*{email}" id="email" name="email"><br><br>

                <label for="feedback">Mensagem:</label>
                <textarea id="feedback" th:field="*{mensagem}" name="Mensagem" rows="4"></textarea><br><br>

                <label for="identificado">Identificado:</label>
                <input type="checkbox" th:field="*{isIdentificado}" id="identificado" name="identificado"><br><br>

                <p> Os dados do seu cadastro serão usados como fonte de informação para melhorar nossos serviços e assim
                    melhorar sempre nosso atendimento a você.
                    Observando as regras estabelecidas na lei LEI Nº 13.709, DE 14 DE AGOSTO DE 2018.
                </p>

                <label for="categoria">Selecione uma opção:</label>
                <select th:field="*{categoria}" id="categoria" name="categoria">
                    <option th:value="Elogio">Elogio</option>
                    <option th:value="Reclamação">Reclamação</option>
                    <option th:value="Contato_para_trabalho">Contato para trabalho</option>
                </select>

                <button type="submit">Enviar Feedback</button>
            </div>
            </br>
            </br>
        </div>
    </div>

</form>

</body>

</html>
