<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="obrigado.css">
    <title>Obrigado pelo Feedback</title>
</head>

<body>
    <div class="container">
        <h1>Obrigado pelo Feedback!</h1>
        <p>Agradecemos por compartilhar suas opiniões. Seu feedback é importante para nós.</p>
    </div>
</body>

</html>
