<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>Document</title>
    <link rel="stylesheet" href="css/quemsomos.css">

</head>

<body>
<header class="cabecalho">
    <a th:href="@{/index}">
        <img class="cabecalho-imagem" th:src="@{/image/Design_sem_nome-removebg-preview.png}" alt="Logo DataEtichs">
    </a>
    <nav class="cabecalho-menu">
        <a class="cabecalho-menu-item" th:href="@{/quem-somos}">Equipe</a>
        <a class="cabecalho-menu-item" th:href="@{/code-java}">Code Java</a>
    </nav>
</header>

    <div class="container">
        <h1>Quem Somos</h1>
        <p>A DataEthics é uma startup dedicada a desenvolver softwares com uma abordagem ética e centrada no usuário.</p>
        
        <h2>Nossa Missão</h2>
        <p>Nossa missão é criar soluções tecnológicas inovadoras que respeitem a privacidade e os interesses dos usuários, proporcionando uma experiência de uso acessível e intuitiva.</p>

        <h2>Nossa Equipe</h2>
        <p>Composta por jovens talentosos e recém-formados, nossa equipe traz uma combinação única de habilidades e paixão pela tecnologia.</p>
        <div class="quem-somos-container">
            <div class="membro">
              <img th:src="@{/image/Bruno.png}" alt="Membro 1">
              <p>Bruno Viera de Melo Aguiar -
                DEVELOPER STUDENT / Palmas 🇧🇷
                <a href="https://www.linkedin.com/in/brunovima?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank" class="linkedin-icon">
                <i class="fab fa-linkedin"></i> Conecte-se conosco no LinkedIn</p></p></a>
            </div>
        
            <div class="membro">
              <img th:src="@{/image/Diana.png}" alt="Membro 2">
              <p>Diana Lopes Silva -
                DEVELOPER STUDENT / Palmas 🇧🇷
                <a href="https://www.linkedin.com/in/diana-lopes-silva-0561766a?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank" class="linkedin-icon">
                <i class="fab fa-linkedin"></i> Conecte-se conosco no LinkedIn</p></p></a>
            </div>
        
            <div class="membro">
              <img th:src="@{/image/Guthemberg.png}" alt="Membro 3">
              <p>Guthemberg B. Alves -
                DEVELOPER STUDENT / Palmas 🇧🇷
                <a href="https://www.linkedin.com/in/guthemberg-alves-25228880" target="_blank" class="linkedin-icon">
                <i class="fab fa-linkedin"></i> Conecte-se conosco no LinkedIn</p></p></a>
            </div>
        
            <div class="membro">
              <img th:src="@{/image/Kauan.png}" alt="Membro 4">
              <p>Kauãn Kelvin Mendes da Costa -
                DEVELOPER STUDENT / Palmas 🇧🇷
                <a href="https://www.linkedin.com/in/kauãn-kelvin-mendes-da-costa-46059a265/" target="_blank" class="linkedin-icon">
                <i class="fab fa-linkedin"></i> Conecte-se conosco no LinkedIn</p></p></a>
            </div>
        
            <div class="membro">
              <img th:src="@{/image/Pedro.png}" alt="Membro 5">
              <p>Pedro Lucas Ferreira Rocha -
                DEVELOPER STUDENT / Palmas 🇧🇷
                <a href="" target="_blank" class="linkedin-icon">
                <i class="fab fa-linkedin"></i> Conecte-se conosco no LinkedIn</p></p></a>
            </div>
          </div>
    </div>
</body>

</html>

