
body, h1, h2, p, table, td, th, tr, input, textarea, select, button {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: rgb(8, 4, 50);
  color: #333;
}

.cabecalho {
  background-color:rgb(8, 4, 50);
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cabecalho-imagem {
  max-width: 100px;
}

.cabecalho-menu {
  display: flex;
}

.cabecalho-menu-item {
  color: #fff;
  text-decoration: none;
  padding: 0 10px;
}

#titulo {
  color: #333;
}

#subtitulo {
  color: #555;
}

.background {
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.principal {
  max-width: 800px;
  margin: 0 auto;
}

formulario {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  background-color:rgb(8, 4, 50);
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(8, 4, 50);
}
